fastapi
typing_extensions>=4.0.0
uvicorn>=0.23.2  # 确保uvicorn版本兼容
pydantic
python-multipart
aerich
tortoise-orm
aiosqlite
aiomysql
pyjwt
sqlalchemy
passlib==1.7.4
bcrypt==4.3.0
sse-starlette
authlib
pydantic-settings
httpx
Jinja2
redis
tomlkit
aiofiles
aiohttp
websockets
watchfiles
celery
flower
pytest
emails  # 邮件发送库
pytest-asyncio 