fastapi
uvicorn
pydantic
python-multipart
aerich
tortoise-orm
aiosqlite
aiomysql
pyjwt
sqlalchemy
passlib
bcrypt
sse-starlette
authlib
pydantic-settings
httpx
Jinja2
redis
tomlkit
aiofiles
aiohttp
websockets
fastmcp
